In [1]:
import numpy as np
import pandas as pd

In [2]:
import pickle
matches = pickle.load(open('dataset_1.pkl' , 'rb'))

In [3]:
matches

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,[2017-01-13],male,ODI,Australia,50,[MS Wade],"[Australia, Pakistan]",bat,Australia,"[MD Martell, C Shamshuddin]","Brisbane Cricket Ground, Woolloongabba",1
1,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-15],male,ODI,Pakistan,50,[Mohammad Hafeez],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, P Wilson]",Melbourne Cricket Ground,2
2,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Perth,[2017-01-19],male,ODI,Australia,50,[SPD Smith],"[Australia, Pakistan]",field,Australia,"[SD Fry, C Shamshuddin]",Western Australia Cricket Association Ground,3
3,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-22],male,ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[CB Gaffaney, MD Martell]",Sydney Cricket Ground,4
4,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,[2017-01-26],male,ODI,Australia,50,[DA Warner],"[Australia, Pakistan]",bat,Australia,"[SD Fry, C Shamshuddin]",Adelaide Oval,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-12],male,ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",field,Ireland,"[AJ Neill, IN Ramage]","Civil Service Cricket Club, Stormont",2029
2029,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,[2016-07-17],male,ODI,Afghanistan,50,NaN,"[Ireland, Afghanistan]",bat,Afghanistan,"[AJ Neill, C Shamshuddin]","Civil Service Cricket Club, Stormont",2030
2030,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,[2016-07-19],male,ODI,Ireland,50,NaN,"[Ireland, Afghanistan]",field,Afghanistan,"[R Black, C Shamshuddin]","Civil Service Cricket Club, Stormont",2031
2031,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,[2016-08-14],male,ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",field,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2032
2032,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,[2016-08-16],male,ODI,Scotland,50,NaN,"[Scotland, United Arab Emirates]",bat,United Arab Emirates,"[DA Haggo, M Hawthorne]","Grange Cricket Club Ground, Raeburn Place",2033

In [4]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1799 entries, 0 to 2032
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   innings               1799 non-null   object
 1   info.city             1488 non-null   object
 2   info.dates            1799 non-null   object
 3   info.gender           1799 non-null   object
 4   info.match_type       1799 non-null   object
 5   info.outcome.winner   1708 non-null   object
 6   info.overs            1799 non-null   int64
 7   info.player_of_match  1681 non-null   object
 8   info.teams            1799 non-null   object
 9   info.toss.decision    1799 non-null   object
 10  info.toss.winner      1799 non-null   object
 11  info.umpires          1799 non-null   object
 12  info.venue            1799 non-null   object
 13  match_id              1799 non-null   int32
dtypes: int32(1), int64(1), object(12)
memory usage: 203.8+ KB

In [5]:
count = 1
delivery_df1 = pd.DataFrame()
for index, row in matches.iterrows():
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []

    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
            match_id.append(index + 1)       
               
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df1 = pd.concat([delivery_df1, loop_df], ignore_index=True)

In [6]:
df = matches[["info.outcome.winner" , "match_id"]].reset_index().merge(delivery_df1 , on= "match_id").drop("index" , axis = 1)

In [7]:
df

,info.outcome.winner,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,Australia,1,"[Australia, Pakistan]",Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
1,Australia,1,"[Australia, Pakistan]",Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
2,Australia,1,"[Australia, Pakistan]",Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
3,Australia,1,"[Australia, Pakistan]",Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
4,Australia,1,"[Australia, Pakistan]",Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
...,...,...,...,...,...,...,...,...,...,...,...
519641,Scotland,2033,"[Scotland, United Arab Emirates]",United Arab Emirates,44.6,Ahmed Raza,CB Sole,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
519642,Scotland,2033,"[Scotland, United Arab Emirates]",United Arab Emirates,45.1,Fayyaz Ahmed,AC Evans,1,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
519643,Scotland,2033,"[Scotland, United Arab Emirates]",United Arab Emirates,45.2,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
519644,Scotland,2033,"[Scotland, United Arab Emirates]",United Arab Emirates,45.3,Ahmed Raza,AC Evans,0,0,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"
519645,Scotland,2033,"[Scotland, United Arab Emirates]",United Arab Emirates,45.4,Ahmed Raza,AC Evans,0,Ahmed Raza,Edinburgh,"Grange Cricket Club Ground, Raeburn Place"

In [8]:
def bowl(row):
    for team in row["teams"]:
        if team != row["batting_team"]:
            return team

In [9]:
df["bowling_team"] = df.apply(bowl , axis=1)

In [10]:
df.drop("teams" , axis =1 , inplace =True)

In [11]:
teams = ["Australia",
        "Pakistan",
        "New Zealand",
        "Bangladesh",
        "South Africa",
        "India",
        "England",
        "Sri Lanka",
        "Netherlands"]

In [12]:
df = df[df["batting_team"].isin(teams)]
df = df[df["bowling_team"].isin(teams)]

In [48]:
df[df["bowling_team"] == "Afghanisthan"]

Empty DataFrame
Columns: [match_id, runs_x, info.outcome.winner, batting_team, ball, batsman, bowler, runs_y, player_dismissed, city, venue, bowling_team, current_score, overs, ball_no, balls_played, balls_left, result, wickets_left, crr, runs_left, rrr]
Index: []

[0 rows x 22 columns]

In [14]:
df["runs"] = pd.to_numeric(df["runs"])
df["current_score"] = df.groupby("match_id")["runs"].cumsum()

In [15]:
df

,info.outcome.winner,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team,current_score
0,Australia,1,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0
1,Australia,1,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0
2,Australia,1,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0
3,Australia,1,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0
4,Australia,1,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,1
...,...,...,...,...,...,...,...,...,...,...,...,...
518126,Australia,2028,Sri Lanka,39.5,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194
518127,Australia,2028,Sri Lanka,39.6,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194
518128,Australia,2028,Sri Lanka,39.7,SS Pathirana,MA Starc,1,0,NaN,Pallekele International Cricket Stadium,Australia,195
518129,Australia,2028,Sri Lanka,40.1,SS Pathirana,SM Boland,0,0,NaN,Pallekele International Cricket Stadium,Australia,195
518130,Australia,2028,Sri Lanka,40.2,SS Pathirana,SM Boland,0,SS Pathirana,NaN,Pallekele International Cricket Stadium,Australia,195

In [16]:
df["overs"] = df["ball"].apply(lambda x : str(x).split(".")[0])
df["ball_no"] = df["ball"].apply(lambda x : str(x).split(".")[1])

In [17]:
df["balls_played"] = df["overs"].astype(int) * 6 + df["ball_no"].astype(int)

In [18]:
df

,info.outcome.winner,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team,current_score,overs,ball_no,balls_played
0,Australia,1,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,1,1
1,Australia,1,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,2,2
2,Australia,1,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,3,3
3,Australia,1,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,4,4
4,Australia,1,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,1,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518126,Australia,2028,Sri Lanka,39.5,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194,39,5,239
518127,Australia,2028,Sri Lanka,39.6,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194,39,6,240
518128,Australia,2028,Sri Lanka,39.7,SS Pathirana,MA Starc,1,0,NaN,Pallekele International Cricket Stadium,Australia,195,39,7,241
518129,Australia,2028,Sri Lanka,40.1,SS Pathirana,SM Boland,0,0,NaN,Pallekele International Cricket Stadium,Australia,195,40,1,241
518130,Australia,2028,Sri Lanka,40.2,SS Pathirana,SM Boland,0,SS Pathirana,NaN,Pallekele International Cricket Stadium,Australia,195,40,2,242

In [19]:
df["balls_left"] = 300 - df["balls_played"]
df["balls_left"] = df["balls_left"].apply(lambda x:0 if x<0 else x)

In [20]:
df

,info.outcome.winner,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team,current_score,overs,ball_no,balls_played,balls_left
0,Australia,1,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,1,1,299
1,Australia,1,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,2,2,298
2,Australia,1,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,3,3,297
3,Australia,1,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,4,4,296
4,Australia,1,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,1,0,5,5,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518126,Australia,2028,Sri Lanka,39.5,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194,39,5,239,61
518127,Australia,2028,Sri Lanka,39.6,SS Pathirana,MA Starc,0,0,NaN,Pallekele International Cricket Stadium,Australia,194,39,6,240,60
518128,Australia,2028,Sri Lanka,39.7,SS Pathirana,MA Starc,1,0,NaN,Pallekele International Cricket Stadium,Australia,195,39,7,241,59
518129,Australia,2028,Sri Lanka,40.1,SS Pathirana,SM Boland,0,0,NaN,Pallekele International Cricket Stadium,Australia,195,40,1,241,59
518130,Australia,2028,Sri Lanka,40.2,SS Pathirana,SM Boland,0,SS Pathirana,NaN,Pallekele International Cricket Stadium,Australia,195,40,2,242,58

In [21]:
def result(row):
    return 1 if row['batting_team'] == row['info.outcome.winner'] else 0

In [22]:
df['result'] = df.apply(result,axis=1)

In [23]:
df["player_dismissed"] = df["player_dismissed"].apply(lambda x:0 if x=="0" else 1)
df["player_dismissed"] = pd.to_numeric(df["player_dismissed"])
df["player_dismissed"] = df.groupby("match_id")["player_dismissed"].cumsum()

In [24]:
df["wickets_left"] = 10 - df["player_dismissed"]

In [25]:
df

,info.outcome.winner,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team,current_score,overs,ball_no,balls_played,balls_left,result,wickets_left
0,Australia,1,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,1,1,299,1,10
1,Australia,1,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,2,2,298,1,10
2,Australia,1,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,3,3,297,1,10
3,Australia,1,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,0,0,4,4,296,1,10
4,Australia,1,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Pakistan,1,0,5,5,295,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518126,Australia,2028,Sri Lanka,39.5,SS Pathirana,MA Starc,0,9,NaN,Pallekele International Cricket Stadium,Australia,194,39,5,239,61,0,1
518127,Australia,2028,Sri Lanka,39.6,SS Pathirana,MA Starc,0,9,NaN,Pallekele International Cricket Stadium,Australia,194,39,6,240,60,0,1
518128,Australia,2028,Sri Lanka,39.7,SS Pathirana,MA Starc,1,9,NaN,Pallekele International Cricket Stadium,Australia,195,39,7,241,59,0,1
518129,Australia,2028,Sri Lanka,40.1,SS Pathirana,SM Boland,0,9,NaN,Pallekele International Cricket Stadium,Australia,195,40,1,241,59,0,1
518130,Australia,2028,Sri Lanka,40.2,SS Pathirana,SM Boland,0,10,NaN,Pallekele International Cricket Stadium,Australia,195,40,2,242,58,0,0

In [26]:
df["crr"] = (df["current_score"]*6)/(df["balls_played"])
df = df.round({"crr" : 2})

In [27]:
df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [28]:
df['runs_left'] = (df['runs_x']+1) - df['current_score']

In [29]:
df

,match_id,runs_x,info.outcome.winner,batting_team,ball,batsman,bowler,runs_y,player_dismissed,city,...,bowling_team,current_score,overs,ball_no,balls_played,balls_left,result,wickets_left,crr,runs_left
0,1,268,Australia,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,...,Pakistan,0,0,1,1,299,1,10,0.00,269
1,1,268,Australia,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,...,Pakistan,0,0,2,2,298,1,10,0.00,269
2,1,268,Australia,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,...,Pakistan,0,0,3,3,297,1,10,0.00,269
3,1,268,Australia,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,...,Pakistan,0,0,4,4,296,1,10,0.00,269
4,1,268,Australia,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,...,Pakistan,1,0,5,5,295,1,10,1.20,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304892,2028,195,Australia,Sri Lanka,39.5,SS Pathirana,MA Starc,0,9,NaN,...,Australia,194,39,5,239,61,0,1,4.87,2
304893,2028,195,Australia,Sri Lanka,39.6,SS Pathirana,MA Starc,0,9,NaN,...,Australia,194,39,6,240,60,0,1,4.85,2
304894,2028,195,Australia,Sri Lanka,39.7,SS Pathirana,MA Starc,1,9,NaN,...,Australia,195,39,7,241,59,0,1,4.85,1
304895,2028,195,Australia,Sri Lanka,40.1,SS Pathirana,SM Boland,0,9,NaN,...,Australia,195,40,1,241,59,0,1,4.85,1
304896,2028,195,Australia,Sri Lanka,40.2,SS Pathirana,SM Boland,0,10,NaN,...,Australia,195,40,2,242,58,0,0,4.83,1

In [30]:
df['rrr'] = (df['runs_left']*6)/df['balls_left']
df = df.round({"rrr" : 2})

In [31]:
df

,match_id,runs_x,info.outcome.winner,batting_team,ball,batsman,bowler,runs_y,player_dismissed,city,...,current_score,overs,ball_no,balls_played,balls_left,result,wickets_left,crr,runs_left,rrr
0,1,268,Australia,Australia,0.1,DA Warner,Mohammad Amir,0,0,Brisbane,...,0,0,1,1,299,1,10,0.00,269,5.40
1,1,268,Australia,Australia,0.2,DA Warner,Mohammad Amir,0,0,Brisbane,...,0,0,2,2,298,1,10,0.00,269,5.42
2,1,268,Australia,Australia,0.3,DA Warner,Mohammad Amir,0,0,Brisbane,...,0,0,3,3,297,1,10,0.00,269,5.43
3,1,268,Australia,Australia,0.4,DA Warner,Mohammad Amir,0,0,Brisbane,...,0,0,4,4,296,1,10,0.00,269,5.45
4,1,268,Australia,Australia,0.5,DA Warner,Mohammad Amir,1,0,Brisbane,...,1,0,5,5,295,1,10,1.20,268,5.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304892,2028,195,Australia,Sri Lanka,39.5,SS Pathirana,MA Starc,0,9,NaN,...,194,39,5,239,61,0,1,4.87,2,0.20
304893,2028,195,Australia,Sri Lanka,39.6,SS Pathirana,MA Starc,0,9,NaN,...,194,39,6,240,60,0,1,4.85,2,0.20
304894,2028,195,Australia,Sri Lanka,39.7,SS Pathirana,MA Starc,1,9,NaN,...,195,39,7,241,59,0,1,4.85,1,0.10
304895,2028,195,Australia,Sri Lanka,40.1,SS Pathirana,SM Boland,0,9,NaN,...,195,40,1,241,59,0,1,4.85,1,0.10
304896,2028,195,Australia,Sri Lanka,40.2,SS Pathirana,SM Boland,0,10,NaN,...,195,40,2,242,58,0,0,4.83,1,0.10

In [32]:
final_df = df[['batting_team','bowling_team','runs_left','balls_left','wickets_left','runs_x','crr','rrr','result']]

In [33]:
final_df

,batting_team,bowling_team,runs_left,balls_left,wickets_left,runs_x,crr,rrr,result
0,Australia,Pakistan,269,299,10,268,0.00,5.40,1
1,Australia,Pakistan,269,298,10,268,0.00,5.42,1
2,Australia,Pakistan,269,297,10,268,0.00,5.43,1
3,Australia,Pakistan,269,296,10,268,0.00,5.45,1
4,Australia,Pakistan,268,295,10,268,1.20,5.45,1
...,...,...,...,...,...,...,...,...,...
304892,Sri Lanka,Australia,2,61,1,195,4.87,0.20,0
304893,Sri Lanka,Australia,2,60,1,195,4.85,0.20,0
304894,Sri Lanka,Australia,1,59,1,195,4.85,0.10,0
304895,Sri Lanka,Australia,1,59,1,195,4.85,0.10,0
304896,Sri Lanka,Australia,1,58,0,195,4.83,0.10,0

In [34]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
runs_left       0
balls_left      0
wickets_left    0
runs_x          0
crr             0
rrr             0
result          0
dtype: int64

In [35]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(),['batting_team','bowling_team'])
]
,remainder='passthrough')

In [36]:
X = final_df.drop("result", axis = 1)
X["rrr"].replace([np.inf, -np.inf], 0, inplace=True)
y = final_df["result"]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [38]:
X_train

,batting_team,bowling_team,runs_left,balls_left,wickets_left,runs_x,crr,rrr
41376,Sri Lanka,England,128,157,7,232,4.41,4.89
248861,India,South Africa,47,38,8,307,5.98,7.42
45878,Australia,South Africa,140,254,7,152,1.70,3.31
215062,Pakistan,Bangladesh,258,292,10,262,3.75,5.30
240145,Australia,India,350,294,10,350,1.00,7.14
...,...,...,...,...,...,...,...,...
119879,England,New Zealand,109,110,6,245,4.33,5.95
259178,Bangladesh,New Zealand,144,148,7,265,4.82,5.84
131932,Sri Lanka,Bangladesh,88,84,7,332,6.81,6.29
146867,India,New Zealand,70,205,7,149,5.05,2.05
121958,Australia,India,234,243,10,290,6.00,5.78

In [39]:
param_grid = {
    'C': [0.01, 0.1, 1, 10],           
    'penalty': ['l1', 'l2'],           
    'solver': ['liblinear', 'lbfgs']   
}

model = LogisticRegression()


grid_search = GridSearchCV(
    model,         
    param_grid,   
    cv=5,          
    scoring='accuracy',  
    verbose=1      
)

In [40]:
log_model = Pipeline(steps=[
    ('step1',trf),
    ('step2',grid_search)
])

In [41]:
log_model.fit(X_train,y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
20 fits failed out of a total of 80.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1168, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 56, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.73138038        nan 0.72983694 0.71430223 0.73226785        nan
 0.73242606 0.711034   0.73239133        nan 0.73243763 0.71227651
 0.73246078        nan 0.73248779 0.70957162]
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf', OneHotEncoder(),
                                                  ['batting_team',
                                                   'bowling_team'])])),
                ('step2',
                 GridSearchCV(cv=5, estimator=LogisticRegression(),
                              param_grid={'C': [0.01, 0.1, 1, 10],
                                          'penalty': ['l1', 'l2'],
                                          'solver': ['liblinear', 'lbfgs']},
                              scoring='accuracy', verbose=1))])

In [42]:
print("Best Hyperparameters:", grid_search.best_params_)
print("Best Score:", grid_search.best_score_)

Best Hyperparameters: {'C': 10, 'penalty': 'l2', 'solver': 'liblinear'}
Best Score: 0.7324877935972363

In [43]:
y_pred = log_model.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7338143653656937

In [45]:

log_model.predict_proba(X_test)[5418]

array([0.72766731, 0.27233269])

In [46]:
import pickle
pickle.dump(log_model,open('log_model4.pkl','wb'))